.watch-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  gap: 1em;

}
.watch-container video {
    width: 100%;
    margin-top: 5em;
    aspect-ratio: 16/9;
    object-fit: cover;
    background-color: var(--color-medium);
    border-radius: 8px;
}

.left-pane,
.right-pane {
  flex: 1;
  overflow-y: scroll;
  padding: 30px;
  text-align: left;

  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.left-pane::-webkit-scrollbar,
.right-pane::-webkit-scrollbar {
  display: none;
}

.left-pane {
  /* background-color: #6cb0ec;  */
  flex: 1.6;
}

.right-pane {
  /* background-color: #ff9e8d; */
}


#all-videos-button {

}
.existing-comments {
    display: flex;
    flex-direction: column;
    gap: .4em;
    margin-top: .4em;
    margin-bottom: 2em;
    background-color: var(--color-dark2);
    padding: .6em;
    border-radius: 12px;
    font-size: .8em
    
}
.single-comment {
    background-color: var(--color-medium);
    padding: 1em;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.single-comment p{
    margin: 0; 
}
.comment-content {
    flex: 1;
    flex-grow: 1;
}
.comment-username {
    color: var(--color-light);
    padding-bottom: .5em ;
}
.comment-text {
    color: var(--color-white);
    font-size: 1em;
    
}
.comment-like {
    width: min-content;
    cursor: pointer;
}
.comment-like i {
    color: var(--color-light);
    opacity: .5;
    transition: 100ms ease-out;
}
.comment-like .active-like {
    color: var(--color-highlight2);
    opacity: 1;
}

.watch-container h2 {
  font-size: 1.8em;
  font-weight: 800;
  margin: .5em 0 .2em;
}
.watch-container h3 {
  font-size: 1.2em;
  font-weight: 500;
  margin: .4em 0;
  color: var(--color-light);
}
.watch-container .left-pane p {
  font-size: .9em;
  font-weight: 300;
  margin: 1.2em 0;
}

.watch-container .right-pane h2 {
  font-size: 1.4em;
  font-weight: 600;
  margin: 1.4em 0 1em;
}


.new-comment-container {
  position: sticky; 
  bottom: -3em;
  display: flex;
  padding: 1.8em 0 3.6em;
  background-color: var(--color-dark);
  z-index: 200;
  gap: 0.5em;
  flex: 1;
}

.new-comment-container input {
  flex: 1;
  padding: 10px;
  background-color: var(--color-medium);
  border-radius: 8px;
  border: none;
  outline: none;

}
.new-comment-container input::placeholder {
  color: var(--color-white);
  opacity: .25;
}
.new-comment-container button {
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
}

.sticky-comment-header {
  position: sticky;
  top: 0;
  background-color: var(--color-dark);
  padding: 5em 0 0.01em;
  z-index: 100;
}

.custom-video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  padding: 6px 8px 8px;
  transition: 100ms ease-in;
  display: flex;
  flex-direction: column;
  opacity: 0;
}
.video-container:hover .custom-video-controls {
  opacity: 1;
}
.upper-controls,
.lower-controls {
  /* background-color: orange; */
  width: 100%;
}
.upper-controls {
  display: flex;
  align-items: center;
}
.custom-video-controls button, .vid-icon{
  background-color: transparent;
  color: var(--color-highlight);
  font-size: 1.1em;

}
.custom-video-controls input{
  -webkit-appearance: none;
  border-radius: 0;
  outline: none;
  margin: 0;
  background-color: #ffffff3a;
  cursor: pointer;
}
.custom-video-controls input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: var(--color-highlight);
  border-radius: 50%;
  border: none;
  opacity: 1
}
.upper-controls input{
  width: 100%;
  height: 5px;
  outline: none;
  margin: 0;
}
.lower-controls {
  display: flex;
  align-items: center;
  transition: 200ms ease-in-out;
  justify-content: space-between;
  padding: 4px 0 8px;
}
.lower-controls button {
  height: 1.4em;
  padding: 0;
  aspect-ratio: 1.5;
}
.lower-controls select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  padding: 0px 12px;
  color: var(--color-highlight);
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  outline:none;
}
.lower-controls select:hover {
  color: var(--color-highlight-darker);
}

.lower-controls select option {
  background-color: var(--color-dark2);
  outline: none;
  border: none;
  color: var(--color-highlight);
}
.lower-controls select option:hover  {
  background-color: var(--color-highlight) !important;
  color: var(--color-dark) !important;
}

.video-container .lower-controls input{
  width: 80%;
  height: 5px;
  border-radius: 100px;
}
.volume-label {
  display: flex;
  gap: .5em;
  align-items: center;
}

/* Change two-panel alyout to stacked on narrow screens */
@media (max-width: 768px) {
  .watch-container {
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .left-pane,
  .right-pane {
    display: block;
    overflow-y:visible;
    padding-bottom: 0;
  }
  .sticky-comment-header {
    position: relative;
    padding: 0;
  }
}
